.event-slider {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100% ;
}

/* Slide animation */
.event-slide {
  height: 80%;
  animation: slideFadeIn 0.5s ease;
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(12px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.event-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--accent-yellow);
  /* margin-top: 0.5rem; */
  white-space: wrap;
}

.event-summary {
  font-size: 0.9rem;
  color: #fff;
  margin-top: 0.5rem;
  line-height: 1.3rem;
  height: 100px;
}

.event-navigation-container{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

/* Arrows */
.event-nav {
  /* position: absolute;
  bottom: 20%; */
  /* transform: translateY(-50%); */
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 1.4rem;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  /* opacity: 0.7; */
}

.event-nav:hover {
  opacity: 1;
}

.event-nav.prev {
  left: 8px;
}

.event-nav.next {
  right: 8px;
}

/* Dots */
.event-dots {
  /* position: absolute;
  bottom: 10px; */
  /* left: 50%; */
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 0.75rem;
}

.event-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.event-dot.active {
  background: #fff;
}

/* Meta */
.event-meta {
  display: flex;
  gap: 0.75rem;
  font-size: 0.75rem;
  opacity: 0.75;
  margin-top: 0.4rem;
}

.muted-text {
  opacity: 0.6;
  font-size: 0.85rem;
}
