.stat-card {
  background-color: rgb(var(--rgb-white) / 0.1);
  backdrop-filter: blur(10px);
  border-radius: 14px;
  padding: 1.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  position: relative;
  overflow: hidden;
}

.stat-card.highlight {
  background: var(--accent-yellow);
  color: var(--bg-black);
}

.stat-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--accent-yellow);
  font-size: 0.9rem;
}

.stat-value {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

/* Default icon color */
.stat-icon {
  display: flex;
  align-items: center;
  color: var(--accent-yellow);
}

/* When card is highlighted, icon turns black */
.stat-card.highlight .stat-icon {
  color: var(--bg-black);
}


.stat-card.highlight .stat-value {
  color: var(--bg-black);
}

.stat-card.highlight .stat-header {
  color: var(--bg-black);
}

.stat-card.highlight .stat-trend {
  color: var(--bg-black);
}

.stat-trend {
  font-size: 0.85rem;
  margin-top: auto;
}

.trend-up {
  color: #4caf50;
}
